name: CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AKIA3FLD5U6M7DQMFOZS }}
        aws-secret-access-key: ${{ secrets.UfByxxyegMLB+wD2nA51DRx2srgx9z3ykA+1M89W }}
        aws-region: us-east-2

    - uses: aws-actions/amazon-ecr-login@v1

    - name: Build & Push Image
      run: |
        docker build -t predict .
        docker tag predict:latest ${{ secrets.767398094745.dkr.ecr.us-east-2.amazonaws.com/predict }}:latest
        docker push ${{ secrets.767398094745.dkr.ecr.us-east-2.amazonaws.com/predict }}:latest
